name: dropnote
description: A new Flutter project.

publish_to: "none" # Remove this line if you wish to publish to pub.dev

version: 1.0.0+1

environment:
    sdk: ">=2.17.6 <3.0.0"

dependencies:
    flutter:
        sdk: flutter
    cupertino_icons: ^1.0.2
    google_fonts: ^3.0.1
    firebase_core: ^2.0.0
    firebase_auth: ^4.0.1
    cloud_firestore: ^4.0.1
    firebase_storage: ^11.0.1
    file_picker: ^5.2.2
    alh_pdf_view: ^1.1.0

dev_dependencies:
    flutter_test:
        sdk: flutter
    flutter_lints: ^2.0.0

flutter:
    uses-material-design: true
