<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>752550302844-5hhjaeesfut4aveinp3p286dfu14rtle.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.752550302844-5hhjaeesfut4aveinp3p286dfu14rtle</string>
	<key>API_KEY</key>
	<string>AIzaSyCDhPl6_RalNcPTZhtE3MA2ItwQV7ET4Yc</string>
	<key>GCM_SENDER_ID</key>
	<string>752550302844</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.dropnote</string>
	<key>PROJECT_ID</key>
	<string>dropnote-4330</string>
	<key>STORAGE_BUCKET</key>
	<string>dropnote-4330.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:752550302844:ios:d5a7bf692a8838a2a325f9</string>
</dict>
</plist>